@CHARSET "ISO-8859-1";

body{
	background-color: #cecece;	
	font-family: 'Fjalla One', sans-serif;
}


.message {
    display: none;
}

caption{	
	color: #000000;
	font-size: 24px;
	caption-side: top;
	font-weight: bolder;
	padding-bottom: 5%;
}

table{
	background-color: #7c7c7c;
	width: 60%;
	text-align: center;
	margin-left: 20%;
	margin-top: 5%;
	padding-bottom: 5%;
	padding-top: 10px;
	box-shadow: 5px 5px 5px #646464;
	position: relative;
	border-collapse: collapse;
}

th{
	padding: 15px;
    text-align: left;
    border-bottom: 1px solid;
    color: #b4d70f;
	text-shadow: -1px 0 #53630b, 0 1px #53630b, 1px 0 #53630b, 0 -1px #53630b;
	font-size: 16px;
}

td{
    text-align: left;
    border-bottom: 1px soild;
    border-color: #b4d70f;
    padding: 15px;
 
}

tr:hover {
	background-color: #a6a6a6;
}

